.portfolio__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.portfolio__item{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background: var(--color-surface);
  padding: 1.5rem;
  border-radius: 2rem;
  border: 0;
  backdrop-filter: blur(18px);
  transition: var(--transition);
}

.p_description{
  font-size: 1.2rem;
  margin: 1.5rem;
  text-align: center;
}

.portfolio__item:hover{
  background: var(--color-surface-strong);
  cursor: default;
}

/* Positioning images in center */
.portfolio__item-image a{
  display: block;
}

.portfolio__item-image img{
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.portfolio__item h3{
  margin: 1.2rem 0 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.portfolio__item p{
  font-size: 1.2rem;
}

.portfolio__item-cta{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.btn-disabled {
  opacity: 0.72;
  cursor: default;
  pointer-events: none;
}

/* Media queries M */

@media screen and (max-width: 1024px){
  .portfolio__container{
    grid-template-columns: 1fr 1fr;
  }
}
/* Media queries S */

@media screen and (max-width: 598px){
  .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

