header{
  height: 100vh;
  overflow: hidden;
}

.header__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

/* Call to actions btn */
.call_to_action{
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Socials links */
.header__socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after{
  content: '';
  transform: translateX(-50%);
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* Header image */
.image__one{
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
}

/* Scroll button */
.scroll__down{
  position: absolute;
  bottom: 5rem;
  right: -2.3rem;
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 300;
}

/* Media queries M */

@media screen and (max-width: 1024px){
  header{
    height: 100vh;
  }
}

/* Media queries S */

@media screen and (max-width: 598px){
  header{
    height: 100vh;
  }
  
  h1{
    font-size: 1.5rem;
  }

  .header__socials{
    position: absolute;
    top: 5%;
  }
  .scroll__down{
    display: none;
  }
}