* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

/* Color styles root */
:root {
  --color-bg: #1b1b1b;
  --color-bg-variant: #0f0f0f;
  --color-primary: #4db5ff;
  /* --color-primary: #00d8ff; */
  --color-primary-variant: rgba(77, 181, 255, 0.5);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.8);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
  transition: var(--transition);
  font-size: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-image: url(../src/assets/images/b2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Container style general */

.container {
  height: 100%;
  position: relative;
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}

.header_span {
  padding: 2rem 0 1rem;
  font-weight: 300;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-size: 1.5rem;
  font-weight: 300;
}

section {
  margin-top: 8rem;
  /* height: 100vh; */
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  margin-bottom: 3rem;
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

p {
  font-size: medium;
  font-weight: 300;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  font-size: large;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Media queries M */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    margin: 0 auto;
  }

  section {
    margin-top: 6rem;
  }
}
/* Media queries S */

@media screen and (max-width: 598px) {
  html {
    font-size: 85%;
  }

  nav a {
    font-size: 3.2rem;
  }

  .container {
    width: var(--container-width-sm);
    margin: 5rem auto;
  }

  section > h2 {
    margin-bottom: 2rem;
  }

  .service__list p {
    font-size: 1.2rem;
  }

  .header_p {
    font-size: 1.2rem;
  }

  .client__review {
    font-size: 1.2rem;
  }
}

/* Media extra S */

@media screen and (max-width: 360px) {
  html {
    font-size: 80%;
  }

  .container{
    width: var(--container-width-sm);
    margin: .5rem auto;
  }
  

  h1 {
    font-size: 2.5rem;
  }

  nav a {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
  }
}
